
body {
    margin: 0;
    font-family: Avenir, Helvetica, Arial, sans-serif;
    color: #FFF8E7;
    background: linear-gradient(#150F25 33%, #000); /* palette: https://coolors.co/150f25-2f224a-5e5385-a293ad-fff8e7 */
    background-repeat: no-repeat;
    background-attachment: fixed;
}

img.big-ol-planet-pic {
    max-width: 75vh;
    max-height: 75vw;
}